body {
    background: rgba(243, 243, 252, 1);
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-link {
    color: rgba(64, 64, 64, 1);
    font-family: Open Sans;
    font-weight: Regular;
}

.nav-link:hover{
    color: rgba(68, 97, 242, 1);
}

.nav-item[target="nav-item"]:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(68, 97, 242, 1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item[target="nav-item"]:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

#login_button {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
    opacity: 1;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    overflow: hidden;
}

#login {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-weight: ExtraBold;
    font-size: large;
    opacity: 1;
    text-align: left;
}