* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_11665 {
  width: 100%;
  height: 1117px;
  background: rgba(243,243,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_11666 {
  width: 100%;
  height: 879px;
  background: url("../images/v5_11666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 119px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11667 {
  width: 100%;
  height: 879px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11668 {
  width: 100%;
  height: 358px;
  background: url("/pic/v5_11668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 378px;
  overflow: hidden;
}
.v5_11669 {
  width: 134px;
  color: rgba(111,64,245,1);
  position: absolute;
  top: 400px;
  left: 446px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11670 {
  width: 52px;
  height: 50px;
  background: url("/pic/v5_11670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 393px;
  overflow: hidden;
}
.v5_11671 {
  width: 301px;
  height: 549px;
  background: url("/pic/v5_11671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 54px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11672 {
  width: 208px;
  height: 68px;
  background: rgba(22,120,242,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1431px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v5_11673 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 1443px;
  font-family: Open Sans;
  font-weight: ExtraBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v5_11674 {
  width: 156px;
  height: 43px;
  background: url("../images/v5_11674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 351px;
  overflow: hidden;
}
.v5_11675 {
  width: 156px;
  color: rgba(64,64,64,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11676 {
  width: 222px;
  color: rgba(72,122,248,1);
  position: absolute;
  top: 73px;
  left: 540px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11677 {
  width: 294px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 795px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11678 {
  width: 99px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1122px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11679 {
  width: 107px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1254px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11680 {
  width: 178px;
  height: 95px;
  background: url("../images/v5_11680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 111px;
  overflow: hidden;
}
.v5_11681 {
  width: 178px;
  height: 95px;
  background: rgba(79,111,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5_11682 {
  width: 81px;
  height: 78px;
  background: rgba(250,117,158,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v5_11683 {
  width: 944px;
  height: 305px;
  background: url("../images/v5_11683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 547px;
  overflow: hidden;
}
.v5_11684 {
  width: 935px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 98px;
  left: 0px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_11685 {
  width: 392px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 53px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5_11686 {
  width: 392px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 552px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5_11687 {
  width: 482px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 5px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5_11688 {
  width: 38px;
  height: 36px;
  background: url("../images/v5_11688.png");
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
}
.v5_11689 {
  width: 21px;
  height: 27px;
  background: url("../images/v5_11689.png");
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 8px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11690 {
  width: 7px;
  height: 7px;
  background: url("../images/v5_11690.png");
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 14px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11691 {
  width: 36px;
  height: 34px;
  background: url("../images/v5_11691.png");
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 502px;
}
.v5_11692 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11692.png");
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 506px;
  border: 1.5px solid rgba(0,0,0,1);
}
