* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_11806 {
  width: 518px;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_11807 {
  width: 393px;
  height: 76px;
  background: url("../images/v5_11807.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 57px;
  overflow: hidden;
}
.v5_11808 {
  width: 393px;
  height: 59px;
  background: rgba(68,97,242,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: 0px 11.805496215820312px 20px rgba(0.2666666805744171, 0.3803921639919281, 0.9490196108818054, 0.15000000596046448);
  overflow: hidden;
}
.v5_11809 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 127px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v5_11810 {
  width: 118px;
  height: 76px;
  background: url("../images/v5_11810.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 331px;
  overflow: hidden;
}
.v5_11811 {
  width: 118px;
  color: rgba(125,125,125,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold Italic;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v5_11812 {
  width: 393px;
  height: 74px;
  background: url("../images/v5_11812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 55px;
  overflow: hidden;
}
.v5_11813 {
  width: 139px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 0px;
  left: 135px;
  font-family: Open Sans;
  font-weight: Light Italic;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v5_11816 {
  width: 115px;
  height: 59px;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 334px;
  border: 0.9837912917137146px solid rgba(220,223,220,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11817 {
  width: 29px;
  height: 26px;
  background: rgba(23,120,242,1);
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 331px;
}
.v5_11818 {
  width: 115px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 194px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0px 9.837912559509277px 12px rgba(0, 0, 0, 0.12999999523162842);
  overflow: hidden;
}
.v5_11819 {
  width: 24px;
  height: 26px;
  background: rgba(0,1,0,1);
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 241px;
}
.v5_11820 {
  width: 115px;
  height: 59px;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 55px;
  border: 0.9837912917137146px solid rgba(220,223,220,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11821 {
  width: 27px;
  height: 25px;
  background: url("../images/v5_11821.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 97px;
  overflow: hidden;
}
.v5_11822 {
  width: 13px;
  height: 11px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 14px;
}
.v5_11823 {
  width: 21px;
  height: 10px;
  background: rgba(52,168,83,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
}
.v5_11824 {
  width: 6px;
  height: 11px;
  background: rgba(251,188,5,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v5_11825 {
  width: 21px;
  height: 10px;
  background: rgba(234,67,53,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v5_11826 {
  width: 407px;
  height: 70px;
  background: url("../images/v5_11826.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 56px;
  overflow: hidden;
}
.v5_11827 {
  width: 407px;
  color: rgba(68,97,242,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: center;
}
.v5_11828 {
  width: 393px;
  height: 75px;
  background: url("../images/v5_11828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 56px;
  overflow: hidden;
}
.v5_11829 {
  width: 393px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11830 {
  width: 84px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11831 {
  width: 23px;
  height: 23px;
  background: url("../images/v5_11831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 252px;
  overflow: hidden;
}
.v5_11832 {
  width: 18px;
  height: 18px;
  background: url("../images/v5_11832.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v5_11833 {
  width: 18px;
  height: 18px;
  background: url("../images/v5_11833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.9837912917137146px solid rgba(102,112,133,1);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_11834 {
  width: 4px;
  height: 4px;
  background: url("../images/v5_11834.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  border: 0.9837912917137146px solid rgba(102,112,133,1);
}
.v5_11835 {
  width: 4px;
  height: 4px;
  background: url("../images/v5_11835.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  border: 0.9837912917137146px solid rgba(102,112,133,1);
}
.v5_11836 {
  width: 393px;
  height: 75px;
  background: url("../images/v5_11836.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 56px;
  overflow: hidden;
}
.v5_11837 {
  width: 393px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11838 {
  width: 116px;
  color: rgba(102,112,133,1);
  position: absolute;
  top: 25px;
  left: 19px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_11839 {
  width: 23px;
  height: 23px;
  background: url("../images/v5_11839.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 253px;
  overflow: hidden;
}
.v5_11840 {
  width: 19px;
  height: 16px;
  background: url("../images/v5_11840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  overflow: hidden;
}
.v5_11841 {
  width: 6px;
  height: 6px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 7px;
}
.v5_11842 {
  width: 15px;
  height: 13px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
}
.v5_11843 {
  width: 13px;
  height: 12px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 6px;
}
.v5_11844 {
  width: 4px;
  height: 4px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
}
.v5_11845 {
  width: 6px;
  height: 6px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 7px;
}
.v5_11846 {
  width: 16px;
  height: 16px;
  background: rgba(103,113,133,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 2px;
}
.v5_11847 {
  width: 181px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 453px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v5_11848 {
  width: 181px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 453px;
  left: 256px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
