* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_11322 {
  width: 100%;
  height: 1117px;
  background: rgba(243,243,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_11323 {
  width: 100%;
  height: 75px;
  background: url("../images/v5_11323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 534px;
  left: 576px;
  overflow: hidden;
}
.v5_11324 {
  width: 100%;
  height: 58px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11325 {
  width: 424px;
  height: 485px;
  background: url("../images/v5_11325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 65px;
  overflow: hidden;
}
.v5_11326 {
  width: 223px;
  height: 223px;
  background: rgba(68,97,242,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 201px;
  border-radius: 50%;
}
.v5_11327 {
  width: 223px;
  height: 223px;
  background: rgba(68,116,242,1);
  opacity: 0.44999998807907104;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v5_11331 {
  width: 378px;
  height: 150px;
  background: url("../images/v5_11331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 90px;
  overflow: hidden;
}
.v5_11332 {
  width: 378px;
  color: rgba(68,97,242,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 63px;
  opacity: 1;
  text-align: left;
}
.v5_11333 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 91px;
  left: 5px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v5_11334 {
  width: 100%;
  height: 76px;
  background: url("../images/v5_11334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 573px;
  overflow: hidden;
}
.v5_11335 {
  width: 100%;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11336 {
  width: 341px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v5_11337 {
  width: 307px;
  height: 76px;
  background: url("../images/v5_11337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 576px;
  overflow: hidden;
}
.v5_11338 {
  width: 307px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11339 {
  width: 119px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 3px;
  left: 26px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11340 {
  width: 513px;
  height: 76px;
  background: url("../images/v5_11340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 576px;
  overflow: hidden;
}
.v5_11341 {
  width: 513px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11342 {
  width: 199px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 3px;
  left: 44px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11343 {
  width: 284px;
  height: 76px;
  background: url("../images/v5_11343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 933px;
  overflow: hidden;
}
.v5_11344 {
  width: 284px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11345 {
  width: 110px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 2px;
  left: 32px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11346 {
  width: 502px;
  height: 76px;
  background: url("../images/v5_11346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 1102px;
  overflow: hidden;
}
.v5_11347 {
  width: 502px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11348 {
  width: 195px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 2px;
  left: 56px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11349 {
  width: 350px;
  height: 76px;
  background: url("../images/v5_11349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 1254px;
  overflow: hidden;
}
.v5_11350 {
  width: 350px;
  height: 59px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11351 {
  width: 136px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 2px;
  left: 39px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11352 {
  width: 197px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 534px;
  left: 592px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11353 {
  width: 739px;
  height: 203px;
  background: url("../images/v5_11353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 842px;
  overflow: hidden;
}
.v5_11354 {
  width: 673px;
  height: 55px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 131px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11355 {
  width: 374px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 16px;
  left: 154px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11356 {
  width: 500px;
  height: 68px;
  background: url("../images/v5_11356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 268px;
  overflow: hidden;
}
.v5_11357 {
  width: 331px;
  height: 53px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11358 {
  width: 194px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11359 {
  width: 500px;
  height: 68px;
  background: url("../images/v5_11359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 131px;
  overflow: hidden;
}
.v5_11360 {
  width: 278px;
  height: 54px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11361 {
  width: 194px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11362 {
  width: 500px;
  height: 68px;
  background: url("../images/v5_11362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 268px;
  overflow: hidden;
}
.v5_11363 {
  width: 331px;
  height: 53px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11364 {
  width: 194px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11365 {
  width: 500px;
  height: 68px;
  background: url("../images/v5_11365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 603px;
  overflow: hidden;
}
.v5_11366 {
  width: 331px;
  height: 53px;
  background: rgba(234,240,247,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11367 {
  width: 194px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v5_11368 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 573px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v5_11369 {
  width: 208px;
  height: 68px;
  background: rgba(22,120,242,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1431px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v5_11370 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 1443px;
  font-family: Open Sans;
  font-weight: ExtraBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v5_11371 {
  width: 156px;
  height: 43px;
  background: url("../images/v5_11371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 351px;
  overflow: hidden;
}
.v5_11372 {
  width: 156px;
  color: rgba(64,64,64,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_11374 {
  width: 222px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 540px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11375 {
  width: 294px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 795px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11376 {
  width: 99px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1122px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11377 {
  width: 107px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1254px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11378 {
  width: 252px;
  height: 135px;
  background: url("../images/v5_11378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 79px;
  overflow: hidden;
}
.v5_11379 {
  width: 252px;
  height: 135px;
  background: rgba(79,111,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5_11380 {
  width: 115px;
  height: 110px;
  background: rgba(250,117,158,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
}
.v5_11381 {
  width: 339px;
  height: 339px;
  background: url("/pic/v5_11381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 109px;
  overflow: hidden;
}
