* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_11434 {
  width: 100%;
  height: 1117px;
  background: rgba(243,243,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_11435 {
  width: 272px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 255px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11436 {
  width: 424px;
  height: 485px;
  background: url("../images/v5_11436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 65px;
  overflow: hidden;
}
.v5_11437 {
  width: 223px;
  height: 223px;
  background: rgba(68,97,242,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 201px;
  border-radius: 50%;
}
.v5_11438 {
  width: 223px;
  height: 223px;
  background: rgba(68,116,242,1);
  opacity: 0.44999998807907104;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_11439 {
  width: 208px;
  height: 68px;
  background: rgba(22,120,242,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1431px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v5_11440 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 1443px;
  font-family: Open Sans;
  font-weight: ExtraBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v5_11441 {
  width: 156px;
  height: 43px;
  background: url("../images/v5_11441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 351px;
  overflow: hidden;
}
.v5_11442 {
  width: 156px;
  color: rgba(64,64,64,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11443 {
  width: 222px;
  color: rgba(72,122,248,1);
  position: absolute;
  top: 73px;
  left: 540px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11444 {
  width: 294px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 795px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11445 {
  width: 99px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1122px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11446 {
  width: 107px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1254px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11447 {
  width: 178px;
  height: 95px;
  background: url("../images/v5_11447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 111px;
  overflow: hidden;
}
.v5_11448 {
  width: 178px;
  height: 95px;
  background: rgba(79,111,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5_11449 {
  width: 81px;
  height: 78px;
  background: rgba(250,117,158,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v5_11450 {
  width: 968px;
  height: 264px;
  background: url("../images/v5_11450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 682px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11451 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11452 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 37px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11453 {
  width: 708px;
  height: 190px;
  background: url("../images/v5_11453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 257px;
  overflow: hidden;
}
.v5_11454 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11455 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11456 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11457 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11458 {
  width: 28px;
  height: 28px;
  background: url("../images/v5_11458.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
}
.v5_11459 {
  width: 16px;
  height: 21px;
  background: url("../images/v5_11459.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11460 {
  width: 5px;
  height: 5px;
  background: url("../images/v5_11460.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11461 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11461.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 377px;
}
.v5_11462 {
  width: 20px;
  height: 20px;
  background: url("../images/v5_11462.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11463 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 790px;
  left: 682px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11464 {
  width: 100%;
  height: 898px;
  background: url("../images/v5_11464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 94px;
  overflow: hidden;
}
.v5_11465 {
  width: 708px;
  height: 224px;
  background: url("../images/v5_11465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 629px;
  left: 848px;
  overflow: hidden;
}
.v5_11466 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11467 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11468 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11469 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11470 {
  width: 28px;
  height: 33px;
  background: url("../images/v5_11470.png");
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
}
.v5_11471 {
  width: 16px;
  height: 25px;
  background: url("../images/v5_11471.png");
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11472 {
  width: 5px;
  height: 6px;
  background: url("../images/v5_11472.png");
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-10deg);
}
.v5_11473 {
  width: 27px;
  height: 31px;
  background: url("../images/v5_11473.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 377px;
}
.v5_11474 {
  width: 20px;
  height: 23px;
  background: url("../images/v5_11474.png");
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11475 {
  width: 487px;
  height: 898px;
  background: rgba(255,255,255,0.75);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v5_11476 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 494px;
  left: 272px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11477 {
  width: 161px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 137px;
  left: 44px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11478 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 178px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11479 {
  width: 156px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 429px;
  left: 44px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11480 {
  width: 226px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 430px;
  left: 242px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11481 {
  width: 403px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 222px;
  left: 42px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11482 {
  width: 180px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 638px;
  left: 48px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11483 {
  width: 258px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 713px;
  left: 48px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11484 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 494px;
  left: 62px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11485 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 562px;
  left: 62px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11486 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 562px;
  left: 277px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11487 {
  width: 403px;
  height: 35px;
  background: url("../images/v5_11487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 47px;
  overflow: hidden;
}
.v5_11488 {
  width: 403px;
  color: rgba(68,97,242,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v5_11489 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 67px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11490 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 354px;
  left: 66px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11491 {
  width: 271px;
  height: 84px;
  background: rgba(82,105,248,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 106px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v5_11492 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 813px;
  left: 151px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v5_11493 {
  width: 168px;
  height: 164px;
  background: url("../images/v5_11493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 839px;
  left: 719px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11494 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11495 {
  width: 968px;
  height: 264px;
  background: url("../images/v5_11495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 682px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11496 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11497 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 37px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11498 {
  width: 708px;
  height: 190px;
  background: url("../images/v5_11498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 942px;
  overflow: hidden;
}
.v5_11499 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11500 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11501 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11502 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11503 {
  width: 28px;
  height: 28px;
  background: url("../images/v5_11503.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
}
.v5_11504 {
  width: 16px;
  height: 21px;
  background: url("../images/v5_11504.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11505 {
  width: 5px;
  height: 5px;
  background: url("../images/v5_11505.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11506 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11506.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 377px;
}
.v5_11507 {
  width: 20px;
  height: 20px;
  background: url("../images/v5_11507.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11508 {
  width: 100px;
  height: 100px;
  background: url("../images/v5_11508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 60px;
  overflow: hidden;
}
.v5_11509 {
  width: 196px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 231px;
  border: 1px solid rgba(0,0,0,1);
}
.v5_11510 {
  width: 196px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 231px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11511 {
  width: 81px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 231px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11512 {
  width: 81px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 443px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11513 {
  width: 81px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 231px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11514 {
  width: 81px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 443px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11515 {
  width: 145px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 289px;
  border: 1px solid rgba(0,0,0,1);
}
.v5_11516 {
  width: 149px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 878px;
  left: 408px;
  border: 1px solid rgba(0,0,0,1);
}
