* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_11693 {
  width: 100%;
  height: 1117px;
  background: rgba(243,243,253,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_11694 {
  width: 424px;
  height: 485px;
  background: url("../images/v5_11694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 65px;
  overflow: hidden;
}
.v5_11695 {
  width: 223px;
  height: 223px;
  background: rgba(68,97,242,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 201px;
  border-radius: 50%;
}
.v5_11696 {
  width: 223px;
  height: 223px;
  background: rgba(68,116,242,1);
  opacity: 0.44999998807907104;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_11697 {
  width: 208px;
  height: 68px;
  background: rgba(22,120,242,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1431px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v5_11698 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 1443px;
  font-family: Open Sans;
  font-weight: ExtraBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v5_11699 {
  width: 156px;
  height: 43px;
  background: url("../images/v5_11699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 351px;
  overflow: hidden;
}
.v5_11700 {
  width: 156px;
  color: rgba(64,64,64,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11701 {
  width: 222px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 540px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11702 {
  width: 294px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 73px;
  left: 795px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11703 {
  width: 99px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1122px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11704 {
  width: 107px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 73px;
  left: 1254px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v5_11705 {
  width: 178px;
  height: 95px;
  background: url("../images/v5_11705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 111px;
  overflow: hidden;
}
.v5_11706 {
  width: 178px;
  height: 95px;
  background: rgba(79,111,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v5_11707 {
  width: 81px;
  height: 78px;
  background: rgba(250,117,158,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
}
.v5_11708 {
  width: 968px;
  height: 264px;
  background: url("../images/v5_11708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 682px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11709 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11710 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 37px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11711 {
  width: 708px;
  height: 190px;
  background: url("../images/v5_11711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 260px;
  overflow: hidden;
}
.v5_11712 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11713 {
  width: 151px;
  height: 30px;
  background: url("/pic/v5_11713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 103px;
  overflow: hidden;
}
.v5_11714 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11715 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11716 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11717 {
  width: 28px;
  height: 28px;
  background: url("../images/v5_11717.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
}
.v5_11718 {
  width: 16px;
  height: 21px;
  background: url("../images/v5_11718.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11719 {
  width: 5px;
  height: 5px;
  background: url("../images/v5_11719.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11720 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11720.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 377px;
}
.v5_11721 {
  width: 20px;
  height: 20px;
  background: url("../images/v5_11721.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11722 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 790px;
  left: 682px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11723 {
  width: 100%;
  height: 880px;
  background: url("../images/v5_11723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 94px;
  overflow: hidden;
}
.v5_11724 {
  width: 708px;
  height: 190px;
  background: url("../images/v5_11724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 633px;
  left: 841px;
  overflow: hidden;
}
.v5_11725 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11726 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11727 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11728 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11729 {
  width: 28px;
  height: 28px;
  background: url("../images/v5_11729.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
}
.v5_11730 {
  width: 16px;
  height: 21px;
  background: url("../images/v5_11730.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11731 {
  width: 5px;
  height: 5px;
  background: url("../images/v5_11731.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11732 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11732.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 377px;
}
.v5_11733 {
  width: 20px;
  height: 20px;
  background: url("../images/v5_11733.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11734 {
  width: 486px;
  height: 880px;
  background: rgba(255,255,255,0.75);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v5_11735 {
  width: 161px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 137px;
  left: 44px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11736 {
  width: 156px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 429px;
  left: 44px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11737 {
  width: 403px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 222px;
  left: 42px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11738 {
  width: 180px;
  color: rgba(68,97,242,1);
  position: absolute;
  top: 663px;
  left: 46px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11739 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 493px;
  left: 83px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11740 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 561px;
  left: 88px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11741 {
  width: 403px;
  height: 35px;
  background: url("../images/v5_11741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 47px;
  overflow: hidden;
}
.v5_11742 {
  width: 403px;
  color: rgba(68,97,242,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v5_11743 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 67px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11744 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 349px;
  left: 74px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11745 {
  width: 271px;
  height: 84px;
  background: rgba(82,105,248,1);
  opacity: 1;
  position: absolute;
  top: 752px;
  left: 108px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v5_11746 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 777px;
  left: 151px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v5_11747 {
  width: 168px;
  height: 164px;
  background: url("../images/v5_11747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 839px;
  left: 719px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11748 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11749 {
  width: 968px;
  height: 264px;
  background: url("../images/v5_11749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 682px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_11750 {
  width: 968px;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v5_11751 {
  width: 168px;
  height: 164px;
  background: url("/pic/v5_11751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 37px;
  border-top-left-radius: 82px;
  border-top-right-radius: 82px;
  border-bottom-left-radius: 82px;
  border-bottom-right-radius: 82px;
  overflow: hidden;
}
.v5_11752 {
  width: 708px;
  height: 190px;
  background: url("../images/v5_11752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 935px;
  overflow: hidden;
}
.v5_11753 {
  width: 701px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11754 {
  width: 151px;
  height: 30px;
  background: url("/pic/v5_11754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 103px;
  overflow: hidden;
}
.v5_11755 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11756 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11757 {
  width: 362px;
  color: rgba(73,119,248,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_11758 {
  width: 28px;
  height: 28px;
  background: url("../images/v5_11758.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
}
.v5_11759 {
  width: 16px;
  height: 21px;
  background: url("../images/v5_11759.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 6px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11760 {
  width: 5px;
  height: 5px;
  background: url("../images/v5_11760.png");
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 11px;
  border: 1.5px solid rgba(0,0,0,1);
  transform: rotate(-8deg);
}
.v5_11761 {
  width: 27px;
  height: 26px;
  background: url("../images/v5_11761.png");
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 377px;
}
.v5_11762 {
  width: 20px;
  height: 20px;
  background: url("../images/v5_11762.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 380px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v5_11763 {
  width: 272px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 255px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11764 {
  width: 265px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 262px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11765 {
  width: 265px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 262px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11766 {
  width: 116px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 262px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11767 {
  width: 116px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 262px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11768 {
  width: 189px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 834px;
  left: 289px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v5_11769 {
  width: 38px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 736px;
  left: 279px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11770 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 668px;
  left: 278px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11771 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 529px;
  left: 279px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11772 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 462px;
  left: 278px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v5_11773 {
  width: 151px;
  height: 30px;
  background: url("/pic/v5_11773.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 1044px;
  overflow: hidden;
}
