* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_12259 {
  width: 582px;
  height: 381px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_12260 {
  width: 509px;
  height: 214px;
  background: url("../images/v5_12260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_12262 {
  width: 132px;
  height: 27px;
  background: url("../images/v5_12262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 47px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_12263 {
  width: 88px;
  color: rgba(22,120,242,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_12265 {
  width: 509px;
  height: 36px;
  background: url("../images/v5_12265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 0px;
  overflow: hidden;
}
.v5_12266 {
  width: 23px;
  height: 30px;
  background: url("../images/v5_12266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v5_12268 {
  width: 20px;
  height: 12px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v5_12269 {
  width: 412px;
  color: rgba(79,85,90,1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
